// Copy to `Config.qml`
pragma Singleton

import QtQuick
import "./config"

ConfigDark {
	name: "your name"
	// check e.g. `hyprctl monitors`
	Component.onCompleted: {
		screens.primary = Qt.binding(() => getScreen("HDMI-A-1"))
	}
}
