//@ pragma UseQApplication
// UseQApplication is required for system tray menus to work.
import QtQuick
import "root:/preset/pterror"

PterrorShell {
	Component.onCompleted: Config.baseUrl = Qt.resolvedUrl(".")
}
