//@ pragma UseQApplication
// UseQApplication is required for system tray menus to work.
import QtQuick
import qs.preset.pterror

PterrorShell {
	Component.onCompleted: Config.baseUrl = Qt.resolvedUrl(".")
}
